@font-face {
    font-family: 'TT Lakes';
    src: url('/fonts/TTLakes-Bold.woff');
         
}
@font-face {
    font-family: 'TT Lakes2';
    src: url('fonts/TTLakes-ExtraBold.woff');
}

@font-face {
    font-family: 'TT Lakes3';
    src: url('fonts/TTLakes-Thin.woff');
}

body{
    width: 100%;
    font-family: 'TT Lakes3';
    
    margin: 0;
    padding: 0;
    background: #F2F2F2;
}
.header{
    width: 100%;
}

.header p {
    position: relative;
    padding: 16px 16px;
    
    font-size: 16px;
    background: linear-gradient(90deg, #F8F8F8 1.39%, #FFFFFF 100%);
    color: #726e6e;
    font-weight: 700;
}



.logos{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
    position: relative;
    overflow: hidden;
    transition: transform 0.8s ease;
}

.logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 240px;
    min-height: 72px;
    cursor: pointer;
    background-color: white;
    margin-left: 16px;
    margin-bottom: 16px;
    border-radius: 5%;
    
}

.footer p {
    font-family: 'TT Lakes2';
    margin-right: 2%;
    font-size: 16px;
}

input[type="button"] {
    height: 30px; 
    width: 120px;
    font-size: 12px;
    font-family: 'TT Lakes';
}

.button {
    padding: 0.5%;
    background-color: none;
    margin: 0px 0.5%;
    border-radius: 7px;
    border: 2px solid;
    border-color: transparent;
    cursor: pointer;
}



  
  

  .logo_hidden {
      display: none;
  }

  .block-logo2 {
      width: 100%;
      display: flex;
      justify-content: flex-start;
        
  }

  




@keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

 


@media screen and (max-width: 361px) {
    .logos{
        flex-wrap: nowrap;
        overflow: scroll;
        
              
    }

    .wrapper{
        margin-left: 16px;
        display: none;
    }
    .footer{
        display: none;
    }

   
    

}

@media screen and (min-width: 361px) {

    .nav {
        display: none;
    }
    .viewSlide {
        display: none;
    }
    
    .block-button {
        display: none;
    }
    .header2 {
        display: none;
    }
    
}


@media screen and (max-width: 768px) {
    .logo__VievSonic, .logo__sony {
        display: none;
    }
    .logo__apple3{
        display: none;
    }

    
}

@media screen and (min-width: 361px) {
    .viewport {
        display: none;
    }

}