@font-face {
    font-family: 'TT Lakes';
    src: url('fonts/TTLakes-Medium.woff');
         
}
@font-face {
    font-family: 'TT Lakes2';
    src: url('fonts/TTLakesCompressed-Black.woff');
}

@font-face {
    font-family: 'TT Lakes3';
    src: url('fonts/TTLakesCondensed-Bold.woff');
}

.header {
    font-family: 'TT Lakes';
    margin-left: 10px;
}

.logos {
    display: flex;
    flex-wrap: wrap;
}


@media screen and (max-width: 320px) {

    .footer {
        display: none;
    }
    
    .block-logo__lenovo {
        display: none;
     }  

     .logo__apple3 {
         display: none;
     }
     .slick-track {
        display: flex;
    }

    .content {
        display: none;
    }
    
    .slick-list {
        overflow: hidden;
    }
    
    .wrapper {
        position: relative;
    
    }
    
    .slider {
        padding: 0 60px;
    }
        
    
    .slider .slick-arrow {
        position: absolute;
        top: 50%;
        margin: -30px 0px 0px 0px;
        z-index: 10;
        width: 30px;
        height: 30px;
        font-size: 0px;
        border: 0px;
    }
    
    .slider .slick-prev {
        right: 0px;
        background: url('img/left.svg') 0 0 / 100% no-repeat;
    }
    
    .slider .slick-next {
        left: 0px;
        background: url('img/right.svg') 0 0 / 100% no-repeat;
    }
    
    .slider img {
        width: 250px;
    }
    
    .slider .slick-dots {
        display: flex;
        align-items:center;
        justify-content: center;
    }
    
    .slider .slick-dots li {
        list-style: none;
        margin: 0px 5%;
    }
    
    .slider .slick-dots button {
        font-size: 0px;
        width: 15px;
        height: 15px;
        background: white;
        border-radius: 50%;
    }
    
    .slider__item .slick-dots li .slick-active {
        background: black;
    }
    
    .slider__item {
        text-align: center;
    }

}

@media screen and (max-width: 768px) {
    #logo__VievSonic, #logo__sony, #logo__apple3 {
        display: none;
    }
}

@media screen and (min-width: 321px) {
    .wrapper {
        display: none;
    }
    body{
        width: 100%;
        font-family: 'TT Lakes3';
        
        margin: 0;
        padding: 0;
        background: #F2F2F2;
    }
    .header{
        width: 100%;
    }
    
    .header p {
        position: relative;
        padding: 16px 16px;
        
        font-size: 16px;
        background: linear-gradient(90deg, #F8F8F8 1.39%, #FFFFFF 100%);
        color: #726e6e;
        font-weight: 700;
    }
    
    
    
    .slider{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        
        position: relative;
        overflow: hidden;
        transition: transform 0.8s ease;
    }
    
    .logo {
        display: flex;
        justify-content: space-around;
        align-items: center;
        min-width: 240px;
        min-height: 72px;
        cursor: pointer;
        background-color: white;
        margin-left: 16px;
        margin-bottom: 16px;
        border-radius: 5%;
        
    }
    
    .footer p {
        font-family: 'TT Lakes2';
        margin-right: 2%;
        font-size: 16px;
    }
    
    input[type="button"] {
        height: 30px; 
        width: 120px;
        font-size: 12px;
        font-family: 'TT Lakes';
    }
    
    .button2 {
        padding: 0.5%;
        background-color: none;
        margin: 0px 0.5%;
        border-radius: 7px;
        border: 2px solid;
        border-color: transparent;
        cursor: pointer;
    }
    
    
    
      
      
    
      .logo_hidden {
          display: none;
      }
    
      .block-logo2 {
          width: 100%;
          display: flex;
          justify-content: flex-start;
            
      }
    
    
    
    @keyframes rotate {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
}